<div class="main-container">
  <div class="spinner-container" *ngIf="showSpinner">
    <spinner></spinner>
  </div>
  <div class="header-container">
    <h3 *ngIf="client">
      {{ client.name + " " + client.lastname }}
    </h3>
    <h3 *ngIf="!client">CloudIA</h3>
  </div>
  <div class="main-container">
    <div class="spinner-container" *ngIf="showSpinner">
      <spinner></spinner>
    </div>
    <div class="messages-container" #messagesContainer>
      <mat-card
        *ngFor="let chatMessage of chatMessages"
        class="message-container"
      >
        <mat-card-content>
          <span>{{ chatMessage.author }}</span>
          <br />
          <span
            ><b>{{ chatMessage.message }}</b></span
          >
        </mat-card-content>
      </mat-card>
    </div>
    <div class="input-container">
      <div class="input-and-buttons-container">
        <input [formControl]="messageInput" />
        <div class="icons-container">
          <button type="submit" (click)="sendMessage()">
            <img class="icon" src="../../assets/send.svg" alt="send-icon" />
          </button>
          <button type="submit" (click)="startRecognition()">
            <img class="icon" src="../../assets/record.svg" alt="send-icon" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
