* {
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
}

.header-container {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.messages-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 3.8rem;
  bottom: 7rem;
  right: 0;
  left: 0;
  z-index: 10;
  border-bottom-left-radius: 6%;
  border-bottom-right-radius: 6%;
  width: 100%;
  padding-bottom: 2rem;
  padding-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 8px;
}

.card-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.message-container {
  width: 100%;
}

.user-message {
  background-color: #dedede;
}

.chat-message {
  background-color: #f1d9b6;
}

.spinner-container {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.input-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8rem;
  display: flex;
  width: 100%;
  background-color: #ecaf55;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

.input-and-buttons-container {
  display: flex;
  align-items: center;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
  height: 3rem;
  gap: 1rem;
  margin-bottom: 1rem;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

input {
  outline: none;
  border: none;
  height: 2rem;
  background-color: #ecaf5500;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon {
  width: 1.5rem;
}

button {
  color: #ecaf55;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

/* custom */
.example-container {
  width: 100%;
  height: 100vh;
}

.drawer-container {
  min-width: 15rem;
  max-width: 20rem;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.convarsations-container {
  padding-top: 3rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.h-div {
  width: 6rem;
  text-align: center;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.conversations-list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding-top: 1rem;
}

conversation-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
