<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer class="drawer-container" #drawer>
    <button class="icon-button close-icon" mat-flat-button (click)="drawer.toggle()">
      <mat-icon
        class="icon-container"
        aria-hidden="false"
        aria-label="Chevron Left"
        fontIcon="close"
      ></mat-icon>
    </button>
    <div class="add-conversation">
      <button
        mat-flat-button
        (click)="createConversationFunction()"
        (click)="drawer.toggle()"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="add"
          fontIcon="add"
        ></mat-icon>
        <span><b>Create conversation</b></span>
      </button>
    </div>
    <div class="convarsations-container">
      <h4>Conversations</h4>
      <ul *ngIf="localStorageConversations" class="conversations-list">
        <li
          *ngFor="let conversation of localStorageConversations"
          class="conversation-item"
        >
          <button
            mat-stroked-button
            (click)="updateLocalStorageCurrentConversation(conversation)"
            (click)="drawer.toggle()"
          >
            {{ buildConversationTitle(conversation.id) }}
          </button>
          <button
            mat-flat-button
            (click)="deleteConversation(conversation.id)"
            (click)="drawer.toggle()"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="delete"
              fontIcon="delete"
            ></mat-icon>
          </button>
        </li>
      </ul>
      <span *ngIf="localStorageConversations.length === 0"
        >No conversations</span
      >
    </div>
    <div class="lang-selector" *ngIf="!isFirefox">
      <span>Speech language selector</span>
      <div class="lang-values">
        <div class="two-flags-container">
          <div class="flag-container">
            <button mat-stroked-button (click)="changeLanguage('es-ES')">
              <span class="flag">SPA</span>
            </button>
          </div>
          <div class="flag-container">
            <button mat-stroked-button (click)="changeLanguage('en-US')">
              <span class="flag">ENG</span>
            </button>
          </div>
        </div>
        <div class="two-flags-container">
          <div class="flag-container">
            <button mat-stroked-button (click)="changeLanguage('fr-FR')">
              <span class="flag">FR</span>
            </button>
          </div>
          <div class="flag-container">
            <button mat-stroked-button (click)="changeLanguage('ca-ES')">
              <span class="flag">CAT</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="header">
      <div class="h-div">
        <button class="icon-button" mat-flat-button (click)="drawer.toggle()">
          <mat-icon
            class="icon-container"
            aria-hidden="false"
            aria-label="Burguer Menu"
            fontIcon="menu"
          ></mat-icon>
        </button>
      </div>
      <div class="h-div username">
        <span
          ><b>{{ buildGuestNameDisplay() }}</b>
        </span>
      </div>
      <div class="h-div">
        <button class="icon-button" mat-flat-button (click)="logout()">
            <mat-icon
              class="icon-container"
              aria-hidden="false"
              aria-label="logout"
              fontIcon="logout"
            ></mat-icon>
        </button>
      </div>
    </div>
    <div class="main-container">
      <div class="spinner-container" *ngIf="showSpinner">
        <spinner></spinner>
      </div>
      <div class="messages-container" #messagesContainer>
        <div class="card-container" *ngFor="let chatMessage of chatMessages">
          <!-- <img
            class="ai-avatar"
            *ngIf="chatMessage.author === 'chat-gpt'"
            src="../../assets/CLAUDIA_avatar.svg"
            alt="ai-avatar"
          /> -->
          <mat-card
            class="message-container"
            [ngClass]="{
              'user-message': chatMessage.author === 'user',
              'chat-message': chatMessage.author === 'chat-gpt'
            }"
            *ngIf="chatMessages.length > 0"
          >
            <mat-card-content>
              <div [innerHTML]="chatMessage.message"></div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="input-container">
        <form (submit)="sendMessage($event)">
          <div class="input-and-buttons-container">
            <input [formControl]="messageInput" />
            <div class="icons-container">
              <button type="submit">
                <img class="icon" src="../../assets/send.svg" alt="send-icon" />
              </button>
              <button
                *ngIf="!isFirefox && !isRecording"
                type="submit"
                (click)="startRecognition()"
              >
                <img
                  class="icon"
                  src="../../assets/record.svg"
                  alt="start-recording-icon"
                />
              </button>
              <button
                *ngIf="!isFirefox && isRecording"
                type="submit"
                (click)="stopRecognition()"
              >
                <img
                  class="icon"
                  src="../../assets/stop-circle.svg"
                  alt="stop-recording-icon"
                />
              </button>
              <div *ngIf="isRecording" class="recording-feedback-circle"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<div *ngIf="showDisclaimer" class="disclaimer">
  <h3>Disclaimer</h3>
  <span>
    El servicio de asistencia proporcionado por "ClaudIA", nuestro robot de
    información sobre el hotel, tiene como objetivo brindar datos precisos y
    actualizados sobre las instalaciones, servicios y actividades disponibles en
    el hotel o alrededores. La información proporcionada por el robot puede
    estar sujeta a cambios sin previo aviso. No podemos garantizar la exactitud
    absoluta o la totalidad de la información suministrada en todo momento.
    Además, aunque nuestro robot está programado para ofrecer respuestas
    precisas y útiles, puede haber ocasiones en las que la interpretación de las
    preguntas o solicitudes de los usuarios no sea completamente precisa, lo que
    podría resultar en respuestas incompletas o incorrectas. Por lo tanto,
    recomendamos a nuestros clientes que utilicen la información proporcionada
    por el robot como una guía general y que confirmen cualquier detalle
    importante directamente con el personal del hotel. Nos esforzamos por
    mejorar continuamente la precisión y la utilidad de nuestro servicio de
    asistencia robótica, pero no podemos garantizar que esté libre de errores o
    discrepancias en todo momento. Queda expresamente excluida cualquier
    responsabilidad por daños directos, indirectos, incidentales, especiales,
    consecuentes o ejemplares que puedan surgir del uso o la incapacidad de
    utilizar el servicio de asistencia robótica, incluso si se nos ha informado
    de la posibilidad de tales daños. Utilizar el servicio de información del
    hotel a través del robot implica la aceptación de estos términos y
    condiciones. Nos reservamos el derecho de modificar, actualizar o
    descontinuar el servicio de asistencia robótica en cualquier momento sin
    previo aviso.
  </span>
  <div class="disclaimer-buttons">
    <button color="primary" mat-flat-button (click)="acceptDisclaimer()">
      Accept
    </button>
    <button color="warn" mat-flat-button (click)="rejectDisclaimer()">
      Reject
    </button>
  </div>
</div>
