<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer class="drawer-container" #drawer>
    <div class="add-conversation">
      <button mat-flat-button (click)="createConversation()">
        <mat-icon
          aria-hidden="false"
          aria-label="add"
          fontIcon="add"
        ></mat-icon>
        <span><b>create conversation</b></span>
      </button>
    </div>
    <div class="convarsations-container">
      <h4>Conversations</h4>
      <ul *ngIf="conversations">
        <li *ngFor="let conversation of conversations">
          <button
            mat-flat-button
            (click)="changeCurrentConversation()"
            (click)="drawer.toggle()"
          >
            {{ conversation.createdAt }}
          </button>
        </li>
      </ul>
      <span *ngIf="conversations.length === 0">No conversations</span>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="header">
      <div class="h-div">
        <button mat-flat-button (click)="drawer.toggle()">
          <mat-icon
            aria-hidden="false"
            aria-label="Burguer Menu"
            fontIcon="menu"
          ></mat-icon>
        </button>
      </div>
      <div class="h-div">
        <span
          ><b>{{ guestName }}</b>
        </span>
      </div>
    </div>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
