.example-container {
  width: 100%;
  height: 100vh;
  /* margin: 12px; */
  /* border: 1px solid #555; */
}

.drawer-container {
  min-width: 15rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.h-div {
  width: 6rem;
  text-align: center;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
